.gallery {
  --columns: 3;
  &-main {
    display: grid;
    grid-template-columns: repeat(var(--columns), 2fr);

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    --columns: 1;
  }
}
