.service {
  padding: 12.5rem 0;
  background-color: $bg-white;

  --columns: 4;

  &-center {
    text-align: center;
  }

  &-title {
    font-size: 4.8rem;
    color: $black-40;
    font-family: $font-Oswald;
    font-weight: 400;
  }

  &-main {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: 6rem;
    margin-top: 5rem;
  }

  &-box {
    padding: 4rem 4.5rem 4.5rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #dfe1ea;
    cursor: pointer;

    &:hover {
      transition: 450ms ease-in-out;
      background-color: $white;
      border: $white;
      box-shadow: 0 0.1rem 3.2rem rgb(129 132 146 / 14%);
    }

    i {
      color: $yellow;
      font-size: 6rem;
    }
  }

  &-text {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    padding-bottom: 3.5rem;
    border-bottom: 0.1rem solid #dfe1ea;
  }

  &-desc {
    margin-top: 2.2rem;
    color: $grey-light;
    font-size: 1.8rem;
    letter-spacing: 0.02;
    font-weight: 500;
    line-height: 2.4rem;
  }

  @media screen and (max-width: 1024px) {
    --columns: 2;
  }
  @media screen and (max-width: 1023px) {
    padding: 8rem 0;
    --columns: 2;
  }
  @media screen and (max-width: 767px) {
    --columns: 1;
    &-title {
      font-size: 2.4rem;
    }
  }
}
