$yellow: #ffa900;
$white: #ffffff;
$black: #333333;
$black-40: #151515;
$white-20: #f7f7f7e6;
$text-grey: #29293a;
$blue: #2c20c0;
$bg-white: #f7f7f7;
$grey-light: #838386;
$grey-10: #dfe1ea;
$bg-gray-700: #252525;
$font-Lato: "Lato", sans-serif;
$font-Oswald: "Oswald", sans-serif;
